{{ extend '../_layouts/home.html' }}

{{ block 'title'}}用户设置{{ /block }}

{{ block 'body' }}

<div id='content' style="margin: 10px auto;width: 900px">
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>设置</li>
            </ul>
        </div>
        <div class='inner'>


            <form id='setting_form' class='form-horizontal' >
                <div class='control-group'>
                    <label class='control-label' for='name'>用户名</label>

                    <div class='controls'>
                        <input class='input-xlarge readonly' id='name' name='nickname' size='30' type='text' readonly='true'
                               value="{{ user.nickname }}" />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='name'>邮箱</label>

                    <div class='controls'>
                        <input class='input-xlarge readonly' name='email' size='30' type='text' readonly='true'
                               value="{{ user.email }}" />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'>性别</label>

                    <div class='controls'>
                        {{ if user.gender === -1 }}
                        <input name='gender' type='radio' value="-1" checked />&nbsp保密&nbsp&nbsp
                        {{ else }}
                        <input name='gender' type='radio' value="-1"  />&nbsp保密&nbsp&nbsp
                        {{ /if }}

                        {{ if user.gender === 1 }}
                        <input name='gender' type='radio' value="1" checked />&nbsp男&nbsp&nbsp
                        {{ else }}
                        <input name='gender' type='radio' value="1" />&nbsp男&nbsp&nbsp
                        {{ /if }}

                        {{ if user.gender === 0 }}
                        <input name='gender' type='radio' value="0" checked />&nbsp女
                        {{ else }}
                        <input name='gender' type='radio' value="0" />&nbsp女
                        {{ /if }}


                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='signature'>个性签名</label>

                    <div class='controls'>
                        <textarea class='input-xlarge' id='signature' name='bio' size='30' placeholder="{{ user.bio }}" ></textarea>
                    </div>
                </div>


                <div class='form-actions' >
                    <input type='submit' class='span-primary submit_btn'  value='保存设置'/>
                </div>
            </form>
        </div>
    </div>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>更改密码</span>
        </div>
        <div class='inner'>
            <form id='change_pass_form' class='form-horizontal' action='/setting' method='post'>
                <div class='control-group'>
                    <label class='control-label' for='old_pass'>当前密码</label>

                    <div class='controls'>
                        <input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30'/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='new_pass'>新密码</label>

                    <div class='controls'>
                        <input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30'/>
                    </div>
                </div>
                <input type="hidden" name="email" value="{{user.email}}">

                <div class='form-actions'>
                    <input type='submit' class='span-primary submit_btn' data-loading-text="更改中.." value='更改密码'/>
                </div>
            </form>/
        </div>
    </div>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>修改头像</span>
        </div>
        <div class='inner'>

            <form action="/setting_avt" method="post" enctype="multipart/form-data" >
            <img src="{{ user.avatar }}" alt="{{ user.nickname }}">
            <input type="file" name = "avatar" accept="image/*">
            <input type='submit' class='span-primary refreshToken' value='上传'/>
            </form>
        </div>
    </div>
</div>


<!--个人信息-->
{{ if user}}
<div  style="position: fixed;right: 10px;top: 80px;">
    <div id='sidebar'>

        <div class='panel'>

            <div class='header'>
                <span class='col_fade'>个人信息</span>
            </div>
            <div class='inner'>
                <div class='user_card'>
                    <div>
                        <a class='user_avatar' href="/myTopic">
                            <img src={{ user.avatar }} title={{ user.nickname }}/>
                        </a>
                        <span class='user_name'><a class='dark' href="/myTopic">{{ user.nickname }}</a></span>

                        <div class="space clearfix"></div>
                        <span class="signature">
                            {{ if user.bio === ''}}
        “

            这家伙很懒，什么个性签名都没有留下。

        ”
                            {{ else }}
        “

            {{ user.bio}}

        ”
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{ /block }}

{{ block 'script'}}
<script>
    //注意是注册表单的submit事件
    $('#setting_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        //formData = email=xxxx&nickname=xxxxx&password=xxx
        $.ajax({
            url: '/setting',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.alert('修改成功')
                    // 服务端重定向针对异步请求无效
                    window.location.href = '/setting'
                } else if (err_code === 500) {
                    window.alert('服务错误：'+data.message)
                }
            }
        })
    })
    $('#change_pass_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/setting_pw',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                if (data.err_code === 0) {
                    alert(data.message)
                    window.location.href = '/setting'
                } else if (data.err_code === 500) {
                    alert('服务错误:'+data.message)
                } else if (data.err_code === 1) {
                    alert(data.message)
                }
            }
        })
    })

</script>
{{ /block }}