{{ extend './_layouts/home.html' }}

{{ block 'title'}}Blog{{ /block }}

{{ block 'body' }}

<div class="panel" style="margin: 10px 15%;width: 65%">
    <div class='header'>
        <ul class='breadcrumb'>
            <li><a href='/'>全部文章</a>
        </ul>
    </div>
    <div class='cell'>
        {{ each topics }}
        <div class="cell">

            <a class="user_avatar pull-left" href="/user/Dirmond">
                <img src="{{ $value.author_avatar }}" title="Dirmond">
            </a>

            <span class="reply_count pull-left">
                <span class="count_of_replies" title="回复数">
                  {{ $value.commentNum }}
                </span>
                <span class="count_seperator">/</span>
                <span class="count_of_visits" title="点击数">
                  {{ $value.visitedNum }}
                </span>
            </span>


            <span class="last_time pull-right">
                <span class="last_active_time">{{ $value.lastUpdate_time.toLocaleString() }}</span>
            </span>


            <div class="topic_title_wrapper">
                <!-- todo-->
                <a class="topic_title" href="/topic?t_id={{ $value.t_id }} " title="{{ $value.title }}">
                    {{ $value.title }}
                </a>
            </div>
        </div>

        {{ /each }}
        <!--页码栏-->
        <div class="pagination" current_page="1">
            <ul>
                <!--前一页-->
                {{ if page === 1 }}
                <li class="disabled"><a>«</a></li>
                {{else}}
                <li><a style="color:#778087;" href="/?page={{ page - 1 }}">«</a></li>
                {{ /if }}
                {{ each totalPage }}

                {{ if $index+1 === page}}
                <li class="active"><a>{{ $index + 1 }}</a></li>
                {{ else }}
                <li><a style="color:#778087;" href="/?page={{ $index + 1 }}">{{ $index + 1 }}</a></li>
                {{ /if }}

                {{ /each}}

                <!--{{ if totalPage.length > 6 || page>=4 }}-->
                <!--<li><a>...</a></li>-->
                <!--{{ if totalPage.length - page < 5 }}-->
                <!--{{ each totalPage }}-->
                <!--{{ if $index+1 > totalPage.length - 5 }}-->
                <!--{{ if $index+1 === page}}-->
                <!--<li class="active"><a>{{ $index + 1 }}</a></li>-->
                <!--{{ else }}-->
                <!--<li ><a style="color:#778087;" href="/?page={{ $index + 1 }}">{{ $index + 1  }}</a></li>-->
                <!--{{ /if }}-->
                <!--{{ /if }}-->
                <!--{{ /each}}-->
                <!--{{ else }}-->
                <!--{{ each totalPage }}-->
                <!--{{ if $index+1 > page-3 && $index+1 < page + 5 }}-->
                <!--{{ if $index+1 === page}}-->
                <!--<li class="active"><a>{{ $index + 1 }}</a></li>-->
                <!--{{ else }}-->
                <!--<li ><a style="color:#778087;" href="/?page={{ $index + 1 }}">{{ $index + 1  }}</a></li>-->
                <!--{{ /if }}-->
                <!--{{ /if }}-->
                <!--{{ /each}}-->
                <!--{{ /if }}-->
                <!--&lt;!&ndash;<li><a>...</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ><a style="color:#778087;" href="/?page={{ totalPage.length }}">{{ totalPage.length  }}</a></li>&ndash;&gt;-->

                <!--{{ else }}-->

                <!--{{ each totalPage }}-->

                <!--{{ if $index+1 === page}}-->
                <!--<li class="active"><a>{{ $index + 1 }}</a></li>-->
                <!--{{ else }}-->
                <!--<li ><a style="color:#778087;" href="/?page={{ $index + 1 }}">{{ $index + 1  }}</a></li>-->
                <!--{{ /if }}-->

                <!--{{ /each}}-->

                <!--{{ /if }}-->


                <!--后一页-->
                {{ if page > totalPage.length - 1 }}
                <li class="disabled"><a>»</a></li>
                {{ else }}
                <li><a style="color:#778087;" href="/?page={{ page + 1 }}">»</a></li>
                {{ /if }}
            </ul>
        </div>
    </div>

</div>


<!--个人信息-->
{{ if user}}
<div style="position: fixed;right: 18px;top: 76px;width: 18%;">

    <div class='panel'>

        <div class='header'>
            <span class='col_fade'>个人信息</span>
        </div>
        <div class='inner'>
            <div class='user_card'>
                <div>
                    <a class='user_avatar' href="/#">
                        <img src="{{ user.avatar }}" title="{{ user.nickname }}"/>
                    </a>
                    <span class='user_name'><a class='dark' href="/#">{{ user.nickname }}</a></span>
                    <div class="space clearfix"></div>
                    <span class="signature">
                            {{ if user.bio === ''}}
        “

            这家伙很懒，什么个性签名都没有留下。

        ”
                            {{ else }}
        “

            {{ user.bio}}

        ”
                            {{/if}}
                        </span>
                    <div class="space clearfix"></div>
                    <div class='inner'>
                        <a href='/topic/create' id='create_topic_btn'>
                            <span class='span-success'>发布话题</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{/if}}

{{ /block }}

